# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaAula1/nbproject/private/
/JavaAula1/build/
/JavaAula2/nbproject/private/
/JavaAula2/build/
/JavaAula2_1_JavaFx/nbproject/private/
/JavaAula2_1_JavaFx/build/
/JavaAula2_1_JavaFx/dist/
/JavaAula2/dist/
/JavaAula_TiposPrimitivos/nbproject/private/
/JavaAula_TiposPrimitivos/build/
/JavaApplication4/nbproject/private/
/JavaAulaTP_SomadorSimples/nbproject/private/
/JavaAulaTP_SomadorSimples/build/